* {
  font-family: 'Yuji Syuku', serif;
}

.main-background {
  background: url('./assets/background.jpg');
  
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  z-index: -10;
  height: 100vh;
}