.text {
    font-family: 'Yuji Boku', serif;
    color: rgb(235, 12, 12);
}

ul {
    list-style: none;
}

.list {
    display: inline-block;
    position: fixed;
    z-index: 50;
    height: 100vh;
    background-image: url('../../assets/list-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    padding: 8px;
    color: rgb(235, 12, 12);
}